extends mod/_layout
block vars
  - var activePage = "About"

block title
  title crab hermit
block meta
  meta(name='description', content='')
block body
  div.container
    h3 About
    ul
      li gulp
      li webpack
      li babel
      li brawser-sync
      li pug(jade)
      li stylus
      li jQuery
      li bootstrap
      li lodash
      li moment
